* {
    transition: .5s;
}

.center {
    display: flex;
    justify-content: center;
    position: relative;
    margin-left: 2.5%;
}

#a img,
.scroll-view img {
    height: 320px;
    width: calc(120% / 5);
    position: absolute;
    z-index: 2;
    margin-left: 10px;
    box-shadow: 0px 0px 15px rgb(73, 73, 73);
    top: 30 !important;
    border-radius: 5px;
}

.move-1 {
    animation-name: moveLeft;
    animation-duration: .8s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    left: calc(18% * 0);
    top: 15px;
}

.move-2 {
    left: calc(18% * 1);
    animation-name: moveLeft1;
    animation-duration: .8s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    top: 45px;
}

.move-3 {
    left: calc(18% * 2);
    animation-name: moveLeft2;
    animation-duration: .8s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    top: 65px;
}

.move-4 {
    left: calc(18% * 3);
    animation-name: moveLeft3;
    animation-duration: .8s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    top: 45px;
}

.move-5 {
    left: calc(18% * 4);
    animation-name: moveLeft4;
    animation-duration: .8s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    top: 0px;
}


/* the second image */
@keyframes moveLeft {
    form {
        left: 0;
        z-index: 2;
        opacity: 1;
        top: 15px;
    }

    to {
        left: calc(18% * 1);
        z-index: 3;
        opacity: .75;
        top: 45px;
    }
}

/* the img in center */
/* the third img */
@keyframes moveLeft1 {
    form {
        left: calc(18% * 1);
        z-index: 3;
        opacity: 1;
        top: 45px;
    }

    to {
        left: calc(18% * 2);
        opacity: 1;
        z-index: 5;
        opacity: 1;
        top: 65px;
    }
}

/* the fourth image */
@keyframes moveLeft2 {
    form {
        left: calc(18% * 2);
        z-index: 4;
        opacity: 1;
        top: 65px;
    }

    to {
        left: calc(18% * 3);
        z-index: 3;
        opacity: .75;
        top: 45px;
    }
}

/* the fifth image */
@keyframes moveLeft3 {
    form {
        left: calc(18% * 3);
        z-index: 3;
        opacity: 1;
        top: 45px;
    }

    to {
        left: calc(18% * 4);
        opacity: 1;
        z-index: 2;
        z-index: 2;
        opacity: .5;
        top: 15px;
    }
}

/* the frist image */
@keyframes moveLeft4 {
    0% {
        left: calc(18% * 4);
        opacity: .5;
        z-index: 2;
        top: 0px;
    }

    30% {
        left: calc(18% * 4.5);
        opacity: 0;
        z-index: 2;
        top: 0px;
    }

    50% {
        left: calc(-18% * 4);
        opacity: 0;
        z-index: 2;
        top: 0px;
    }

    100% {
        left: 0;
        z-index: 1;
        opacity: .5;
        z-index: -1;
        top: 15px;
    }
}


/* ---------------------------------------- scroll list view ---------------------------------- */
*/ .scroll-div-container {
    overflow-x: scroll !important;
    position: relative;

}

::-webkit-scrollbar {
    height: 10px;
}

.scroll-view {
    position: relative !important;
    display: inline-flex !important;
    overflow-x: scroll !important;
}

.scroll-view img {
    position: relative !important;
    margin-top: 500px;
}

.left,
.right {
    padding: 5px 10px;
    margin: 10px;
}


/* ---------------------------------------- carasouel view ---------------------------------- */
.container-view {
    margin-bottom: 100px;
    position: relative;
}

.carasouel {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid lightgray;
    position: relative;
    height: 350px;
}

.carasouel img {
    height: 100%;
    width: 100% !important;
    position: absolute;
    top: 0px;
    left: 102%;
    display: none;
    border-radius: 10px;
}

.container-view button {
    position: absolute;
    top: 50%;
    left: 0;
}

.container-view .btn-rtl {
    left: auto;
    right: 0;
}

.active-from-right-to-left {
    display: block !important;
    animation-name: carasouel_from_right_to_left;
    animation-duration: 8s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    top: 65px;
}

.active-from-left-to-right {
    display: block !important;
    animation-name: carasouel_from_left_to_right;
    animation-duration: 8s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    top: 65px;
}

@keyframes carasouel_from_right_to_left {
    0% {
        left: 70%;
        opacity: 0;
    }

    6.5% {
        left: 0%;
        opacity: 1;
    }

    90% {
        left: 0%;
        opacity: 1;
    }

    100% {
        left: -100%;
        opacity: 0.2;
    }
}

@keyframes carasouel_from_left_to_right {
    0% {
        left: -70%;
        opacity: 0;
    }

    6.5% {
        left: 0%;
        opacity: 1;
    }

    90% {
        left: 0%;
        opacity: 1;
    }

    100% {
        left: 100%;
        opacity: 0.2;
    }
}